$color-main: #006699;
$color-secondary: #005580;
$color-thrid: #0088CC;
$title-color: #31353D;
$bg-darkgrey: #313131;
$bg-lightgrey: #f0f0f0;
$light: #ffffff;
$tablet-width: 767px;
$desktop-width: 1200px;
$mobile-width-only: 766px;
$retina-dpi: 144dpi;
$retina-dppx:1.5dppx;
